.admin-user-profile-modal .modal-dialog {
    max-width: 812px;
    width: 812px;
}

.admin-user-profile-modal .modal-content {
    height: auto;
    max-height: 90vh;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.admin-user-profile-modal .modal-header {
    border-bottom: none;
    padding: 24px 32px 16px 32px;
}

.admin-user-profile-modal .modal-title {
    color: #2563eb;
    font-weight: 600;
    height: 32px;
    display: flex;
    align-items: center;
}

.admin-user-profile-modal .modal-body {
    padding: 0 32px;
}

.admin-user-profile-modal .modal-footer {
    border-top: none;
    padding: 24px 32px;
    justify-content: center;
}

/* Style chung cho Form Control */
.admin-user-profile-modal .form-control,
.admin-user-profile-modal .form-select {
    background-color: #f9fafb;
    border: 1px solid #f9fafb;
}

.admin-user-profile-modal .form-control:focus,
.admin-user-profile-modal .form-select:focus {
    background-color: #fff;
    border-color: #2563eb;
    box-shadow: none;
}

/* Placeholder */
.form-control::placeholder {
    color: #9ca3af;
}

.form-control:read-only,
.form-control[disabled] {
    background-color: #f9fafb; /* Nền xám nhạt */
    color: #9ca3af; /* Chữ xám mờ */
    opacity: 1;
}

/* Xử lý lỗi validation */
.form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: #dc3545 !important;
    background-image: none !important;
}

.form-control.is-invalid ~ .invalid-feedback,
.was-validated .form-control:invalid ~ .invalid-feedback {
    color: #dc3545 !important;
}

/* CSS field ngày sinh */
.date-input-wrapper {
    position: relative;
    width: 100%;
}

.date-input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #6b7280;
    pointer-events: none;
    z-index: 10;
}

.admin-user-profile-modal .ant-picker {
    width: 100%;
    padding-left: 40px !important;
    background-color: #f9fafb;
    border: 1px solid #f9fafb;
}

.admin-user-profile-modal .ant-picker-suffix {
    display: none;
}

.admin-user-profile-modal .ant-picker:focus,
.admin-user-profile-modal .ant-picker-focused {
    border-color: #2563eb !important;
    box-shadow: none !important;
}

.custom-date-input {
    padding-left: 40px !important;
    position: relative;
    background-color: #f9fafb;
    border-color: #f9fafb;
}

.custom-date-input::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}